.app-bar {
  background-color: #3f51b5;
  color: #fff;
  height: 64px;
  position: "relative";
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-bar-menu {
  list-style-type: none;
}
.app-bar-menu-item {
  color: #fff;
}
.app-bar-menu-item a {
  color: inherit;
}
.app-bar-menu-item a:not(:hover) {
  text-decoration: none;
}
.app-bar-logo-img {
  height: 64px;
}
