.home {
  height: calc(100vh - 64px);
  position: relative;
}
.page-container {
  width: 100%;
}
.chat-log {
  background-color: #f2f2f2;
  width: 100%;
  height: calc(100vh - 64px);
  overflow-y: scroll;
  padding-bottom: 128px;
}
.chat-log-container {
  padding: 32px;
}
