.menu-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: left;
  padding: 32px 16px;
  transition: 2s all;
  -webkit-transition: 2s all;
  background: white;
  z-index: 9;
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.08);
}
.menu-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
