@-webkit-keyframes main-color {
  from {
    border-color: #00b7ff;
  }
  40% {
    border-color: #ffd500;
  }
  to {
    border-color: #c20000;
  }
}
@keyframes main-color {
  from {
    border-color: #00b7ff;
  }
  40% {
    border-color: #ffd500;
  }
  to {
    border-color: #c20000;
  }
}
@-webkit-keyframes highlight-color {
  from {
    border-color: rgba(199, 248, 255, 0.6);
  }
  60% {
    border-color: rgba(227, 199, 255, 0.6);
  }
  to {
    border-color: rgba(255, 232, 20, 0.644);
  }
}
@keyframes highlight-color {
  from {
    border-color: rgba(199, 248, 255, 0.6);
  }
  60% {
    border-color: rgba(227, 199, 255, 0.6);
  }
  to {
    border-color: rgba(255, 232, 20, 0.644);
  }
}
